h5 {
    text-align: left;
    background-color: white;
    width: 100%;
    padding: .5rem;
}
.likeButton{
    background-color: green;
}

.dislikeButton{
    background-color: red;
}

.post {
    border: 20px;
    border-style: solid;
    border-color: rgb(213, 218, 240);
    border-width: 3px;
    margin-left: 10%;
    width: 80%;
    margin-top: 1rem;
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.date {
    text-align: right;
    margin-right: 1rem;
    margin-bottom: .3rem;
}

.button-div {  
    padding: .5rem;
}
.buttons-div {
    display: flex;
    flex-direction: row;
    margin-left: 70%;
}

.post-text {
    background-color: white;
    display: flex;
    padding-left: 1rem;
}